.header {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  .header-left, .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header-link {
  padding: 24px 24px;
  cursor: pointer;
  user-select: none;
}

.logo {
  padding: 0px 24px;
  cursor: pointer;
  user-select: none;
}

.browse {
  color: red;
  position: relative;
}

.options-container {
  color: white;
  position: fixed;
  top: 48px;
  transition: visibility 0s, opacity 0.5s linear;
  .fa-caret-up {
    position: relative;
    left: 30px;
    top: 6px;
  }
}

.browse-options {
  background-color: black;
  font-size: .8em;
  display: flex;
  flex-flow: row nowrap;
  border-top: white;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  padding: 16px 8px 16px 8px;
  cursor: default;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      padding: 0 8px 8px 8px;
      cursor: pointer;
    }
    li:hover {
      text-decoration: underline;
    }
  }
}

.options-links {
  border-right: grey;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  font-weight: bolder;
}
