.header {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  .header-left, .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header-link {
  padding: 24px 24px;
  cursor: pointer;
  user-select: none;
}

.logo {
  padding: 0px 24px;
  cursor: pointer;
  user-select: none;
}

.browse {
  color: red;
  position: relative;
}

.browse-container, .user-container {
  color: white;
  position: fixed;
  top: 60px;
  transition: visibility 0s, opacity 0.5s linear;
  .fa-caret-up {
    position: relative;
    top: 6px;
  }
}

.browse-container {
  .fa-caret-up {
    left: 30px;
  }
}

.user-container {
  .fa-caret-up {
    left: 20px;
  }
}

.browse-options, .user-options {
  background-color: black;
  font-size: .8em;
  border-color: white #343434 #343434 #343434;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  padding: 16px 8px 16px 8px;
  cursor: default;
  display: flex;
}

.browse-options {
  flex-flow: row nowrap;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      padding: 0 8px 8px 8px;
      cursor: pointer;
    }
    li:hover {
      text-decoration: underline;
    }
  }
}

.user-options {
  position: relative;
  right: 38px;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: normal;
}

.options-links {
  border-width: 0px;
  border-right: 1px solid grey;
  font-weight: bolder;
}

.user {
  display: flex;
  align-items: center;
  .user-icon {
    padding: 0px 8px;
  }
  .fa-caret-down {
    padding: 0px 8px;
  }
}

.user {
  position: relative;
}

.other-user {
  display: flex;
  align-items: center;
}

.other-user, .user-link {
  padding-bottom: 8px;
  cursor: pointer;
}

.user-link:hover {
  text-decoration: underline;
}

.other-user-icon {
  padding-right: 8px;
}
