.movie-group {
  display: flex;
  margin-left: 48px;
}
.movie-listname {
  position: absolute;
  font-weight: bolder;
  font-size: 22px;
}

.movie-posters {
  display: flex;
  align-items: center;
  height: 400px;
}

.movie-single {
  transition: width .5s;
  width: 200px;
  margin-right: 8px;
  cursor: pointer;
  z-index: 1;
  position: relative;
  display: inline-block;
  img {
    width: 100%;
    height: auto;
  }
}

.movie-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #FFF;
	opacity: 0;
}

.movie-single:hover {
  width: 260px;
  position: relative;
	.movie-overlay {
		display: flex;
		align-items: flex-end;
		background: rgba(0, 0, 0, .15);
		z-index: 1000;
		opacity: 1;
	}
}

.overlay-grid {
	display: grid;
  grid-template-columns: 1fr 50px;
}