.movie-group {
  display: flex;
  margin-left: 48px;
}
.movie-listname {
  position: absolute;
  font-weight: bolder;
  font-size: 22px;
}

.movie-posters {
  display: flex;
  align-items: center;
  height: 340px;
}

.movie-single {
  transition: width 1s;
  width: 170px;
  margin-right: 8px;
  cursor: pointer;
  z-index: 1;
  img {
    width: 100%;
    height: auto;
  }
}

.movie-preview {
  width: 230px;
}