@import './_App.scss';
@import './_Header.scss';
@import './_Splash.scss';

body {
  background-color: #141414;
  color: white;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
